<div class="card">
  <div class="row">
    <aside class="col-md-5 border-right">
      <article class="gallery-wrap">
        <div class="img-big-wrap">
          <div>
            <a href="">
              <img src="https://cdn.shopify.com/s/files/1/1373/3003/products/light-up-led-shoes-yeezy-black7.jpg?v=1505913439">
            </a>
          </div>
        </div>
      </article>
    </aside>
    <section class="col-md-7">
      <article class="card-body p-5">
        <h3 class="title mb-3"><%= t ".title" %></h3>
        <p class="price-detail-wrap">
          <span class="price h3 text-warning">$299</span>
        </p>
        <dl class="item-property">
          <dt><%= t ".descript" %></dt>
          <dd><p><%= t ".product_descript" %></p>
          </dd>
        </dl>
        <hr>
        <div class="row">
          <dov class="col-sm-5">
            <dl class="param param-inline">
              <dt><%= t ".quantity" %>:</dt>
              <dd>
                <select class="form-control form-control-sm" style="width: 70px">
                  <option value="">1</option>
                </select>
              </dd>
            </dl>
          </dov>
        </div>
        <hr>
        <%= link_to t(".buy_now"), cart_path, class: "btn btn-lg btn-primary text-uppercase" %>
        <%= link_to t(".add_cart"), cart_path, class: "btn btn-lg btn-outline-primary text-uppercase" %>
      </article>
    </section>
  </div>
</div>
