<div class="row pad-top-botm client-info">
  <div class="col-md-6">
    <h4><strong><%= t "order_items.index.client_inform" %></strong></h4>
    <strong><%= t "order_items.index.name" %>&nbsp;<%= @order.customer_name %></strong>
    <br>
    <b><%= t "order_items.index.phone" %></b>&nbsp;<%= @order.customer_phone %>
    <br>
    <b><%= t "order_items.index.address" %></b>&nbsp;<%= @order.customer_address %>
    <br>
    <b><%= t "order_items.index.city" %></b>&nbsp;<%= @order.customer_city %>
    <br>
    <b><%= t "order_items.index.country" %></b>&nbsp;<%= @order.customer_country %>
  </div>
  <div class="col-md-6">
    <h4><strong><%= t "order_items.index.payment_details" %></strong></h4>
    <b><%= t "order_items.index.bill_account" %></b>&nbsp;
    <%= t "price", price: @order.total_price %>
    <br>
    <b><%= t "order_items.index.purchase_date" %></b>&nbsp;
    <%= l @order.created_at, format: t("date.format.default") %>
  </div>
</div>
<div class="row">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th><%= t "order_items.index.number" %></th>
          <th><%= t "order_items.index.items" %></th>
          <th><%= t "order_items.index.quantity" %></th>
          <th><%= t "order_items.index.unit_price" %></th>
          <th><%= t "order_items.index.sub_total" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @order_items %>
      </tbody>
    </table>
  </div>
  <div class="ttl-amts">
    <h5>
      <strong>
        <%= t "order_items.index.total" %>&nbsp;<%= t "price", price: @order.total_price %>
      </strong>
    </h5>
  </div>
</div>
<div class="row pad-top-botm">
  <hr>
  <%= link_to t("order_items.index.back"), :back, class: "btn btn-primary" %>
</div>
