<div class="container">
  <div class="row pad-top-botm client-info">
    <div class="col-md-6">
      <h4><strong><%= t ".client_inform" %></strong></h4>
      <strong><%= t ".name" %>&nbsp;<%= @order.customer_name %></strong>
      <br>
      <b><%= t ".address" %>&nbsp;</b><%= @order.customer_address %>
      <br>
      <b><%= t ".phone" %>&nbsp;</b><%= @order.customer_phone %>
      <br>
      <b><%= t ".city" %>&nbsp;</b><%= @order.customer_city %>
      <br>
      <b><%= t ".country" %>&nbsp;</b><%= @order.customer_country %>
    </div>
    <div class="col-md-6">
      <h4><strong><%= t ".payment_details" %></strong></h4>
      <b><%= t ".bill_account" %></b>&nbsp;<%= t "price", price: @order.total_price %>
      <br>
      <b><%= t ".purchase_date" %></b>&nbsp;
      <%= l @order.created_at, format: t("date.format.default") %>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= t ".number" %></th>
            <th><%= t ".items" %></th>
            <th><%= t ".quantity" %></th>
            <th><%= t ".unit_price" %></th>
            <th><%= t ".sub_total" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @order_items %>
        </tbody>
      </table>
    </div>
    <div class="ttl-amts">
      <h5><strong><%= t ".total" %>&nbsp;<%= t "price", price: @order.total_price %></strong></h5>
    </div>
  </div>
  <div class="row pad-top-botm">
    <hr>
    <%= link_to t(".back"), :back, class: "btn btn-primary" %>
    <%= link_to t(".continue_shopping"), root_path, class: "btn btn-warning" %>
  </div>
</div>
