<div class="col-md-4">
  <div class="thumbnail">
    <%= image_tag product.image, class: "product-image" %>
    <div class="caption">
      <h3><%= link_to truncate(product.name, length: 15), show_path(product) %></h3>
      <p><%= truncate(product.description, length: 20) %></p>
      <p><%= number_to_currency product.price %></p>
      <p>
        <%= link_to t(".add_cart"), add_cart_path(product),
          remote: true, method: :get, class: "btn btn-default" %>
      </p>
    </div>
  </div>
</div>
